:root {
    --main-color: #F5911D;
    --second-color:#F5CD42;
  }
* {
    margin: 0;
    padding: 0;
}

body {
    background: #e9ecf4;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.contenedor {
    width: 100%;
    max-height: 1000px;
    margin: 1px auto;
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: -1;
}

.contenedor .header,
.contenedor .contenido,
.contenedor .footer {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}

.contenedor .header {
    background-color: #F5911D;
    color: #fff;
    font-weight: bold;
    grid-column-start: 1;
    grid-column-end: -1;
}

.contenido {
    grid-column: span 3;
    background-image: url(/SVG/low-poly-grid-haikei.svg);
    background-size: cover;
    display: grid;
    min-height: 799px;
    /* opacity: 80%; */
    /* height: 80.5vh; */
}

.footer {
    grid-column: span 3;
}
.grid-articulos{
    margin-top: 100px;
    margin-bottom: 100px;
    display: grid;
    /* width: 100%; */
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 2;
    /* gap: 10px; */
    /* column-gap: 10px; */
    row-gap: 100px;


}   
.item{
    justify-self: center;
    border: 3px solid #01484C;
    width: 225px;
    height: 325px;
    /* background-color: var(--second-color); */
}
